<div class="row">
	<div class="col-md-4 col-md-offset-4">

		<div class="alert alert-success" ng-if="display.page.success">
			<strong>{{data.success.message}}</strong>
		</div>

		<div class="alert alert-danger" ng-if="display.page.error">
			<strong>{{data.error.message}}</strong>
		</div>

		<div class="panel panel-default" ng-if="display.page.form">
			<div class="panel-heading">
				<h3 class="panel-title">register</h3>
			</div>
			<div class="panel-body">
				<form>
					<div class="form-group" ng-class="{'has-error': display.alert.emailvalid}">
						<label for="email">EMAIL</label>
						<input type="mail" class="form-control" id="email" name="email" ng-model="data.form.email"/>
					</div>

					<div class="alert alert-danger" ng-if="display.alert.emailvalid">Email format is not valid!</div>

					<div class="form-group" ng-class="{'has-error': display.alert.usernamelength}">
						<label for="username">USERNAME</label>
						<input type="text" class="form-control" id="username" name="username" ng-model="data.form.username"/>
					</div>

					<div class="alert alert-danger" ng-if="display.alert.usernamelength">Username has to contain minimum 5 characters!</div>

					<div class="form-group" ng-class="{'has-error': display.alert.passwordlength}">
						<label for="password">PASSWORD</label>
						<input type="password" class="form-control" id="password" name="password" ng-model="data.form.password"/>
					</div>

					<div class="alert alert-danger" ng-if="display.alert.passwordlength">Password has to be minimum 8 characters long!</div>

					<div class="form-group" ng-class="{'has-error': display.alert.passwordsmatching}">
						<label for="repeatedpassword">REPEAT PASSWORD</label>
						<input type="password" class="form-control" id="repeatedpassword" name="repeatedpassword" ng-model="data.form.passwordconfirm" />
					</div>

					<div class="alert alert-danger" ng-if="display.alert.passwordsmatching">Passwords are not matching!</div>

					<button type="submit" class="btn btn-primary" ng-click="registerUser(data.form)">Register</button>
					<a href="/login" class="btn btn-link">Login</a>
					<a href="/reset" class="btn btn-link">Forgot password?</a>

				</form>
			</div>
		</div>
	</div>
</div>