<table class="table table-striped">
	<tr>
		<td></td>
		<td ng-click="orderList('title')">TITLE</td>
		<td ng-click="orderList('description')">DESCRIPTION</td>
		<td ng-click="orderList('tags')">TAG</td>
		<td ng-click="orderList('url')">URL</td>
		<td>VISIT</td>
	</tr>
	<tr>
		<td>
		</td>
		<td>
			<div class="form-group">
				<input type="text" class="form-control" ng-model="searchParams.title">
			</div>
		</td>
		<td>
			<div class="form-group">
				<input type="text" class="form-control" ng-model="searchParams.description">
			</div>
		</td>
		<td>
			<div class="form-group">
				<input type="text" class="form-control" ng-model="searchParams.tags">
			</div>
		</td>
		<td>
			<div class="form-group">
				<input type="text" class="form-control" ng-model="searchParams.url">
			</div>
		</td>
		<td></td>
	</tr>
	<tr ng-repeat="log in logs | orderBy:listOrder:reverseList | filter:searchParams">
		<td>
			<input type="checkbox" checklist-model="checklist.logs" checklist-value="log">
		</td>
		<td>{{log.title}}</td>
		<td>{{log.description}}</td>
		<td>{{log.tags[0]}}</td>
		<td>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="{{log.url}}" disabled>
			</div>
		</td>
		<td><a href="{{log.url}}" target="_blank" type="button" class="btn btn-primary">VISIT</a></td>
	</tr>

</table>
