<table class="table table-striped">
	<tr>
		<td><button type="button" class="btn btn-default btn-xs">#</button></td>
		<td>TITLE</td>
		<td>DESCRIPTION</td>
		<td>TAG</td>
		<td>URL</td>
		<td>VISIT</td>
	</tr>
	<tr ng-repeat="log in logs">
		<td>
			<input type="checkbox">
		</td>
		<td>{{log.title}}</td>
		<td>{{log.description}}</td>
		<td>{{log.tags[0]}}</td>
		<td>
			<div class="form-group">
				<input type="email" class="form-control" placeholder="{{log.url}}" disabled>
			</div>
		</td>
		<td><a href="{{log.url}}" target="_blank" type="button" class="btn btn-primary">VISIT</a></td>
	</tr>

</table>
